# node / next
node_modules
.next
out
dist
.cache
.vercel

.env
.env.local
.env.development
.env.production
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode
.DS_Store

# firebase local
.firebase
