rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid));
    }

    function userTenant() {
      return request.auth.token.tenantId != null
        ? request.auth.token.tenantId
        : userDoc().data.tenantId;
    }

    function hasRole(role) {
      return (request.auth.token.roles != null &&
          request.auth.token.roles.hasAny([role])) ||
        (userDoc().data.role == role) ||
        (userDoc().data.roles != null &&
          userDoc().data.roles.hasAny([role]));
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /tenants/{tenantId} {
      allow read: if isSignedIn() && tenantId == userTenant();
      allow write: if isSignedIn() && tenantId == userTenant() && hasRole("owner");

      match /{collection=**}/{docId} {
        allow read: if isSignedIn() && tenantId == userTenant();
        allow write: if isSignedIn() &&
          tenantId == userTenant() &&
          (hasRole("owner") || hasRole("admin"));
      }
    }
  }
}
